<h1> Hello Ruby on Rails!! </h1>
Now:
<%= @time %>
<%= 2 + 4 %>

<%= 1.hour.from_now %>

<% for file in @files %>
  file name is: <%= file %> <br>
<% end %>

<br>
<%= link_to "Goodbye", say_goodbye_path %>